<!DOCTYPE html>
<html>
<head>
  <title>Upload Image</title>
</head>
<body>
  <h1>Upload Image</h1>
  <form action="http://localhost:3000/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required>
    <br><br>
    <input type="submit" value="Upload">
  </form>
</body>
</html>
